
body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('https://img.freepik.com/premium-photo/happy-joyful-dog-pastel-colour-backgroundxa_914391-3819.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
   background-size: cover;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnp {
 font-family: monospace;
}

.signup-form {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}


.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
